.container {
   margin-left: 15%;
   margin-right: 15%;
}

.pageHeaderBox {
   border: 1px solid #c9a7a7;
   background-color: #f1c1c1;
   border-radius: 8px;
   padding: 20px;
   margin-top: 20px;
}

.pageHeaderTitle {
   font-size: 20px;
   margin-top: 0;
   margin-bottom: 0;
}

.pageHeaderDescription {
   font-size: 16px;
   margin-top: 0;
   margin-bottom: 0;
}