.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar input {
    width: 550px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    height: 38px;
    padding: 0 10px;
    border: 1px solid black;
    outline: none;
    font-size: 16px;
}

.searchResults {
    position: absolute;
    z-index: 1;
    bottom: 100%;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 200px;
    width: 570px;
}

.searchResult {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.searchResult:hover {
    background-color: #f5f5f5;
}

.searchResult img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px;
}

.searchResult p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.searchSelected {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.searchSelectedItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 220px;
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.searchSelectedItem img {
    width: 75px;
    height: 112.5px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 5px;
}

.searchSelectedItem p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.searchRemove {
    width: 20px;
    height: 20px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;

    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0;

}

.searchRemove:hover {
    color: #f00;
}