.recPage {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.recItem {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.recPoster {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.recTitle {
    font-size: 16px;
    margin: 0;
}

.recExplanation {
    display: flex;
    position: relative;
    flex-grow: 1;
    margin: 0;
    height: 300px;
}

.recExplanationText {
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

.recExplanationBox {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 8px;
}

.recInfo {
    margin-top: 20px;
    font-weight: bolder;
}

.fltLabel {
    position: absolute;
    font-weight: bold;
    left: 0px;
    padding: 0 5px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: 1px solid black;
    border-bottom-right-radius: 5px;
}