.required {
    color: red;
    margin-left: 5px;
    font-size: small;
    vertical-align: super;
}

.question {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.questionEnunciation {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.invalid {
    color: crimson;
    font-size: 12px;
    margin-left: 5px;
    font-weight: normal;
}